<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>梦想第一站</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href = "@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href = "@{css/fileinput.min.css}" rel="stylesheet"/>
    <script th:src = "@{js/jquery-3.3.1.min.js}" ></script>
    <script th:src = "@{js/bootstrap.min.js}" ></script>
    <script th:src = "@{js/fileinput.js}" ></script>
    <script th:src = "@{js/locales/zh.js}" ></script>
</head>
<body>
<div class="container">
    <p> </p>
    <p> </p>
    <h2 class="text-info text-center">你好，豆豆</h2>
    <div id="accordion">
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    我在想啥
                </a>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    何银亮，虽然你总甩开我去浪，我也不会讨厌你！！！
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    为什么
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    我心里全是你，就算你老是忽视我，我还是喜欢你
					你不听我也要讲，男人都是大猪蹄子我不知道，但我不是呀！！！
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    总结一下
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    我爱你只是遵从了我的内心，绝不后悔，绝不退缩
                </div>
            </div>
        </div>
    </div>

    <div class="media border p-3">
        <img th:src="@{/img/dou.jpg}" alt="dou" class="mr-3 mt-3 rounded-circle" style="width:100px;"/>
        <div class="media-body">
            <h4>我是豆豆</h4>
            <p>我的宣言是：  男人都是大猪蹄子！！！，除了鹍</p>
        </div>
    </div>

    <div class="media border p-3">
        <img th:src="@{/img/kun.jpg}" alt="kun" class="mr-3 mt-3 rounded-circle" style="width:100px;"/>
        <div class="media-body">
            <h4>我是鹍仔</h4>
            <p>我的宣言是：  豆豆，我希望一直能在你身边！！！</p>
        </div>
    </div>
</div>
<script th:src = "@{js/service/mine-upload.js}" ></script>
</body>
</html>