<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>梦想第一站</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link th:href = "@{css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href = "@{css/fileinput.min.css}" rel="stylesheet"/>
    <script th:src = "@{js/jquery-3.3.1.min.js}" ></script>
    <script th:src = "@{js/bootstrap.min.js}" ></script>
    <script th:src = "@{js/fileinput.js}" ></script>
    <script th:src = "@{js/locales/zh.js}" ></script>
    <style>
  .carousel-inner img {
      width: 100%;
      height: 50%;
  }
  </style>
</head>
<body>
<div class="container">
    <p id="time"> </p>
    <p th:text="'这是本站被第'+${count} +'次访问'"> </p>
    <h2 class="text-info text-center">你好，豆豆</h2>
    <div id="accordion">
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                    没啥可说
                </a>
            </div>
            <div id="collapseOne" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    就是爱你
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                    不要瘪嘴
                </a>
            </div>
            <div id="collapseTwo" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    显得不美
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                    不准拒绝
                </a>
            </div>
            <div id="collapseThree" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    拒绝你的拒绝
                </div>
            </div>
        </div>
    </div>

    <div class="media border p-3">
        <img th:src="@{/img/dou.jpg}" alt="dou" class="mr-3 mt-3 rounded-circle" style="width:100px;"/>
        <div class="media-body">
            <h4>我是豆豆</h4>
            <p>我的宣言是：  男人都是大猪蹄子！！！，除了鹍</p>
        </div>
    </div>

    <div class="media border p-3">
        <img th:src="@{/img/kun.jpg}" alt="kun" class="mr-3 mt-3 rounded-circle" style="width:100px;"/>
        <div class="media-body">
            <h4>我是鹍仔</h4>
            <p>我的宣言是：  豆豆，我希望一直能在你身边！！！</p>
        </div>
    </div>
    <div id="demo" class="carousel slide" data-ride="carousel">
        <!-- 指示符 -->
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>

        <!-- 轮播图片 -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img th:src="@{/img/shot01.jpg}"/>
            </div>
            <div class="carousel-item">
                <img th:src="@{/img/shot02.jpg}"/>
            </div>
            <div class="carousel-item">
                <img th:src="@{/img/shot03.jpg}"/>
            </div>
        </div>

        <!-- 左右切换按钮 -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
    <div class="media">
        <audio class="media-body" controls="controls" autoplay="autoplay" th:src="@{/music/yihan.mp3}" style="width:200px" />
    </div>

</div>
<script>
	var startTime = new Date();

    function mytime(){
        var a = new Date();
		var count = (a.getTime()-startTime.getTime())/1000;
        document.getElementById("time").innerHTML = "你已停留： "+count.toFixed(0) +"  秒";}
    setInterval(function() {mytime()},1000);
</script>
<script th:src = "@{js/service/mine-upload.js}" ></script>
</body>
</html>